@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');
:root{
    --Pale-blue: hsl(225, 100%, 94%);
    --very-pale-blue: hsl(225, 100%, 98%);
    --desaturated-blue: hsl(224, 23%, 55%);
    --dark-blue: hsl(223, 47%, 23%);
    --desktop-width: 1440px;
    --bright-blue: hsl(245, 75%, 52%);
}

*{
    box-sizing: border-box;
}

html{
    font-family: 'Red Hat Display', sans-serif;
    padding: 0px;
    margin: 0px;
}

body{
    background-color: var(--Pale-blue);
    margin: 0px;
}

p{
    font-size: 1rem;
}

.wavy-background{
    background: url("./images/pattern-background-desktop.svg") top no-repeat;
    padding: 0px;
    width: 100vw;
}

.order-summary{
    display: grid;
    place-items: center;
    padding-top: 7.5rem;
}
.order-summary__card{
    border: 1px solid var(--pale-blue);
    border-radius: 25px;
    width: 400px; 
    min-height: 70vh; 
    background-color: #fff;  
    }

.order-summary__image img{
    padding: 0px;
    margin: 0px;
    width: 400px;
    border-radius: 25px 25px 0px 0px;    
}

.order-summary__title{
    margin-top: 30px;
    text-align: center;
    font-weight: 900;
}

.order-summary__content{
    text-align: center;
    width: 75%;
    margin: 0 auto;
    color: var(--desaturated-blue);
    font-weight: 500;
}

.order-summary__plan{
    background-color: var(--very-pale-blue);
    width: 80%;
    margin: 20px auto;
    padding: 18px 5px;
    text-align: center;
    border-radius: 10px;
    min-height: 60px;
    display: grid;
    grid-template-columns: 25% 50% 25%;
    align-items: center;
    justify-items: center;
}
.order-summary__plan a{
    font-weight: 700;
    color: var(--bright-blue);
}
.order-summary__middle-item{
    justify-self: start;
}

h4.order-summary__plan-title{
    margin: 0;
    padding: 0;
    display: inline;
    color: var(--pale-blue);
    font-weight: 900;
}
.order-summary__plan-price{
    color: var(--desaturated-blue);
    font-weight: 500;
}

a.btn_blue{
    display: block;
    text-align: center;
    padding: 15px 50px;
    background-color: var(--bright-blue);
    color: var(--very-pale-blue);
    margin: 15px 10%;
    border-radius: 15px;
    text-decoration: none;
}

a.btn_light{
    display: block;
    text-align: center;
    margin-bottom: 40px;
    text-decoration: none;
    font-weight: 700;
    color: var(--desaturated-blue);
}