@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');
:root{
    --Pale-blue: hsl(225, 100%, 94%);
    --very-pale-blue: hsl(225, 100%, 98%);
    --desaturated-blue: hsl(224, 23%, 55%);
    --dark-blue: hsl(223, 47%, 23%);
    --desktop-width: 1440px;
    --bright-blue: hsl(245, 75%, 52%);
}

*{
    box-sizing: border-box;
    overflow-x: hidden;
}

html{
    font-family: 'Red Hat Display', sans-serif;
}

body{
    background-color: var(--Pale-blue);
    margin: 0px;
}

p{
    font-size: 1rem;
}

.wavy-background{
    background: url("./images/pattern-background-desktop.svg") top no-repeat;
    width: 100vw;
    padding: 0px;
}

.order-summary{
    display: grid;
    place-items: center;
    padding-top: 6rem;
    padding-bottom: 3.5rem;
}
.order-summary__card{
    border: 1px solid var(--pale-blue);
    border-radius: 25px;
    width: 450px; 
    min-height: 650px; 
    background-color: #fff;  
    }

.order-summary__image img{
    padding: 0px;
    margin: 0px;
    width: 450px;
    border-radius: 25px 25px 0px 0px;    
}

.order-summary__title{
    margin-top: 40px;
    text-align: center;
    font-weight: 900;
    color: var(--dark-blue);
    font-size: 1.6rem;
}

.order-summary__content{
    text-align: center;
    font-size: 1.02rem;
    width: 75%;
    margin: 0 auto;
    color: var(--desaturated-blue);
    font-weight: 500;
}

.order-summary__plan{
    background-color: var(--very-pale-blue);
    width: 80%;
    margin: 20px auto;
    padding: 18px 5px;
    text-align: center;
    border-radius: 10px;
    min-height: 60px;
    display: grid;
    grid-template-columns: 25% 50% 25%;
    align-items: center;
    justify-items: center;
}
.order-summary__plan a{
    font-weight: 700;
    font-size: 0.89rem;
    color: var(--bright-blue);
    transition: color 250ms;
}
.order-summary__plan a:hover,
.order-summary__plan a:focus{
    color: #766CF1;
    text-decoration: none;
}

.order-summary__middle-item{
    justify-self: start;
}

h2.order-summary__plan-title{
    margin: 0;
    padding: 0;
    display: inline;
    font-size: 1.05rem;
    color: var(--dark-blue);
    font-weight: 900;
    overflow-y: auto;
}
.order-summary__plan-price{
    color: var(--desaturated-blue);
    font-weight: 500;
}

.order-summary__buttons{
    display: inline;
    margin: 0;
    padding: 0;
}
a.btn_blue{
    display: block;
    text-align: center;
    padding: 15px 50px;
    background-color: var(--bright-blue);
    color: var(--very-pale-blue);
    margin: 30px 10%;
    border-radius: 15px;
    text-decoration: none;
    box-shadow: 0px 20px 20px rgba(56, 42, 225, 0.190291);
    transition: background-color 250ms;
    font-size: 1.02rem;
}

a.btn_blue:hover,
a.btn_blue:focus {
    background-color: #766CF1;
}

a.btn_light{
    display: block;
    text-align: center;
    margin-bottom: 40px;
    text-decoration: none;
    font-weight: 700;
    color: var(--desaturated-blue);
    font-size: 1.02rem;
}

a.btn_light:hover,
a.btn_light:focus {
    color: var(--dark-blue);
}

@media only screen and (max-width: 440px) {
    /* For mobile phones: */
    .wavy-background{
        background: url("./images/pattern-background-mobile.svg") top no-repeat;
    }
    .order-summary__card{
        width: 350px; 
        min-height: 600px; 
        background-color: #fff;  
    }
    
    .order-summary__image img{
            width: 350px;
    }
        
  }